@model Szakdoga.Models.UserViewModel
@{
    ViewBag.Title = "UserEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Módosítás</h2>

@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{


    <h4>Módosítás</h4>
    <hr />



    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    @Html.LabelFor(m => m.user.TeljesNev, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.user.TeljesNev, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.user.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.user.Email, new { @class = "form-control" })
                    </div>
                </div>

            </div>
        </div>

        <div class="row h-100 justify-content-center align-items-center">
            <div class="col">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.HiddenFor(m => m.user.Id)
                        @Html.AntiForgeryToken()
                        <input class="btn btn-primary" type="submit" value="Módosítás">
                    </div>
                </div>
            </div>
        </div>
    </div>




}